	@keyframes anime {
			1%{
					background: linear-gradient(
				-36deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
				2%{
					background: linear-gradient(
				-37deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
				3%{
					background: linear-gradient(
				-38deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
				4%{
					background: linear-gradient(
				-39deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
				5%{
					background: linear-gradient(
				-40deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
				6%{
					background: linear-gradient(
				-41deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
				7%{
					background: linear-gradient(
				-42deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			8%{
					background: linear-gradient(
				-43deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			9%{
					background: linear-gradient(
				-44deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			10%{
					background: linear-gradient(
				-45deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			11%{
					background: linear-gradient(
				-46deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			12%{
					background: linear-gradient(
				-47deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			13%{
					background: linear-gradient(
				-48deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			14%{
					background: linear-gradient(
				-49deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			15%{
					background: linear-gradient(
				-50deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			16%{
					background: linear-gradient(
				-51deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			17%{
					background: linear-gradient(
				-52deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			18%{
					background: linear-gradient(
				-53deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			19%{
					background: linear-gradient(
				-54deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			20%{
					background: linear-gradient(
				-55deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			21%{
					background: linear-gradient(
				-56deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			22%{
					background: linear-gradient(
				-57deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			23%{
					background: linear-gradient(
				-58deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			24%{
					background: linear-gradient(
				-59deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			25%{
					background: linear-gradient(
				-60deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			26%{
					background: linear-gradient(
				-61deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			27%{
					background: linear-gradient(
				-62deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			28%{
					background: linear-gradient(
				-63deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			29%{
					background: linear-gradient(
				-64deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			30%{
					background: linear-gradient(
				-65deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			31%{
					background: linear-gradient(
				-66deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			32%{
					background: linear-gradient(
				-67deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			33%{
					background: linear-gradient(
				-68deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			34%{
					background: linear-gradient(
				-69deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			35%{
					background: linear-gradient(
				-70deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			36%{
					background: linear-gradient(
				-71deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			37%{
					background: linear-gradient(
				-72deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			38%{
					background: linear-gradient(
				-73deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			39%{
					background: linear-gradient(
				-74deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			40%{
					background: linear-gradient(
				-75deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			41%{
					background: linear-gradient(
				-76deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			42%{
					background: linear-gradient(
				-77deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			43%{
					background: linear-gradient(
				-78deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			44%{
					background: linear-gradient(
				-79deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			45%{
					background: linear-gradient(
				-80deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			46%{
					background: linear-gradient(
				-81deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			47%{
					background: linear-gradient(
				-82deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			48%{
					background: linear-gradient(
				-83deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			49%{
					background: linear-gradient(
				-84deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
			50%{
					background: linear-gradient(
				-85deg,
				rgba(255,255,255,.1) 0%,
				rgba(255,255,255,.1) 50%,
				rgba(255,255,255,.15) 51%,
				rgba(255,255,255,.15) 100%
				)
			}
		}